.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    // background: #000;
    // color: #fff;
    padding: 0.25rem;
    // position: relative;
    // bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    // position: absolute;
    // left: -9999px;
    display: none;
    // visibility: hidden;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    text-align: center;
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    margin:0 auto;
    width: 50%;
}

.line {
    display: inline-block;
}

.w-screen{
    width: 70%;
}