footer {
  background-color: rgba(255, 255, 255, 0.3);

  color: rgb(224, 134, 133);
  padding-top: 25px;
}

.footer-item ul {
  text-align: left;
}
.icon {
  display: flex;
  justify-content: center; 
}
.footer-item ul a {
  text-decoration: none;
  color: inherit;
}
.footer-item ul h5 {
  border-bottom: 2px solid #e08685;
  text-align: center;
  color: #e08685;
  font-weight: 600;
}

.footer-item li {
  list-style: none;
  font-size: 0.8rem;
}

.conpyright {
  background-color: #e08685;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}
