footer {
  /* margin-bottom: 0; */
  /* margin-top: 10vh; */
  background-color: rgba(255, 255, 255, 0.3);
  /* background-color: #c97689; */
  /* background-color: #daaeb8; */
  color: #e08685;
  padding-top: 25px;

  /* position: fixed;
  bottom: 0;
  width: 100%; */
}

.footer-item ul {
  /* margin: 10px 40px; */
  text-align: left;
}
.footer-item ul a {
  text-decoration: none;
  color: inherit; /*字的顏色繼承父層*/
}
.footer-item ul h5 {
  border-bottom: 2px solid #e08685;
  text-align: center;
  color: #e08685;
  font-weight: 600;
}

.footer-item li {
  list-style: none;
  font-size: 0.8rem;
}

.conpyright {
  /* background-color: #5b1e2c; */
  background-color: #e08685;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

/* 改改改 */
/* 改改改 */
/* 改改改 */
/* .footermt {
  margin-top: 150px;
} */
