@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');
/* body {
  background: #cbc0d3;
} */
.signcontainer {
  align-items: center;
  justify-content: center;
  z-index: 5;
  opacity: 0.9;
  margin: auto;
  width: 800px;
  height: 850px;
  position: relative;
}
.welcome {
  /* background: #e9f6ff; */
  background: #f6f6f6;
  /* background: #faeddd; */
  /* background: #f6f6f6; */
  width: 800px;
  height: 515px;
  position: absolute;
  top: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  /* background-color: #faeddd; */
}
.pinkbox {
  position: absolute;
  top: -10%;
  left: 0;
  background: #fcdde2;
  width: 420px;
  height: 600px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
.nodisplay {
  display: none;
  transition: all 0.5s ease;
}
.leftbox,
.rightbox {
  position: absolute;
  width: 50%;
  transition: 1s all ease;
}
.leftbox {
  left: -2%;
}
.rightbox {
  right: -2%;
}
.signh1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 95px;
  text-transform: uppercase;
  /* color: #f6f6f6; */
  color: black;
  font-size: 2em;
  letter-spacing: 8px;
}
.signtitle {
  font-family: 'Lora', serif;
  color: #8e9aaf;
  font-size: 1.8em;
  line-height: 1.1em;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 300;
  margin-top: 20%;
}
.signdesc {
  margin-top: -8px;
}
.signaccount {
  margin-top: 45%;
  font-size: 10px;
}
#signp {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  letter-spacing: 2px;
  color: #7a8597;
  text-align: center;
}
.signspan {
  color: #c57d88;
}
.flower {
  position: absolute;
  /* width: 120px; */
  height: 120px;
  top: 46%;
  left: 29%;
  opacity: 0.7;
}
/* .smaller {
  width: 90px;
  height: 100px;
  top: 48%;
  left: 38%;
  opacity: 0.9;
} */
.signbutton {
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16oxpx;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
}
.signbutton:hover {
  background: #eac7cc;
  /* color: #f6f6f6; */
  color: black;
  transition: background-color 1s ease-out;
}
.signbutton {
  margin-top: 3%;
  background: #f6f6f6;
  color: #ce7d88;
  border: solid 1px #eac7cc;
}
.signform {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7px;
}
.more-padding {
  padding-top: 35px;
}
.more-padding input {
  padding: 12px;
}
.more-padding .submit {
  margin-top: 45px;
}
.signsubmit {
  margin-top: 25px;
  padding: 12px;
  border-color: #ce7d88;
}
.signsubmit:hover {
  background: #cbc0d3;
  border-color: #bfb1c9;
}
.signinput {
  background: #eac7cc;
  width: 65%;
  color: #9a2540;
  /* color: #ce7d88; */
  border: none;
  border-bottom: 1px solid rgba(246, 246, 246, 0.5);
  padding: 9px;
  margin: 7px;
}
.signinput::placeholder {
  /* color: #f6f6f6; */
  color: black;
  letter-spacing: 2px;
  font-size: 1.3em;
  font-weight: 100;
}
.signinput:focus {
  color: #ce7d88;
  outline: none;
  border-bottom: 1.2px solid rgba(206, 125, 136, 0.7);
  font-size: 1em;
  transition: 0.8s all ease;
}
.signinput:focus::placeholder {
  opacity: 0;
}

.checkbox {
  display: inline;
  white-space: nowrap;
  position: relative;
  left: -62px;
  top: 5px;
}
.signinput[type='checkbox'] {
  width: 7px;
  background: #ce7d88;
}
.checkbox input[type='checkbox']:checked + label {
  color: #ce7d88;
  transition: 0.5s all ease;
}
/* ///////////////////////////////// */
/* 動畫區 */
/* .pen-container {
  background-color: white;
  overflow-x: hidden;
  min-height: 100vh;

  position: relative;
} */

.background-container {
  /* 其他樣式 */
  position: absolute; /* 將 position 改為 absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10; /* 將 z-index 設置為較低的值，確保在其他內容的下方 */
  background: linear-gradient(359deg, #b7bca4 26.23%, #3d94b2 87.37%);
  opacity: 0.4;
}
.pen-container {
  /* 其他樣式 */
  overflow-x: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* 堆疊順序較高，顯示在其他內容上方 */
  pointer-events: none;
  /* 禁止干擾頁面內容的交互 */
}
.pen-container::after {
  /* background: linear-gradient(359deg, #b7bca4 26.23%, #3d94b2 87.37%); */
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  height: 100%;
  width: 100%;
}
.plane {
  left: 0;
  position: absolute;
  transform: rotate(-10deg);
  width: 100%;
  z-index: 1;
}
.plane i {
  animation: motion linear infinite;
  /* background-image: url('https://assets.codepen.io/732/plane%402x.png'); */
  background-image: url('../images/plane2x.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0;
  transition: 0.4s ease-out;
}
.plane-1 {
  top: 90px;
}
.plane-1 i {
  height: 67px;
  width: 1171px;
  animation-duration: 50s;
  animation-delay: -10s;
}
.plane-2 {
  top: 320px;
}
.plane-2 i {
  height: 58px;
  width: 1007px;
  animation-duration: 60s;
  animation-delay: -4s;
}
.plane-3 {
  top: 30px;
}
.plane-3 i {
  height: 40px;
  width: 693px;
  animation-duration: 75s;
  animation-delay: -33s;
}
.plane-4 {
  top: 261px;
}
.plane-4 i {
  height: 34px;
  width: 594px;
  animation-duration: 85s;
  animation-delay: -50s;
}
.plane-5 {
  top: 449px;
}
.plane-5 i {
  height: 31px;
  width: 528px;
  animation-duration: 100s;
  animation-delay: -33s;
}
.plane-6 {
  top: 204px;
}
.plane-6 i {
  height: 21px;
  width: 363px;
  animation-duration: 110s;
  animation-delay: -2s;
}
.plane-7 {
  top: 0;
}
.plane-7 i {
  height: 21px;
  width: 363px;
  animation-duration: 125s;
  animation-delay: 10s;
}
.plane-8 {
  top: 401px;
}
.plane-8 i {
  height: 18px;
  width: 313px;
  animation-duration: 140s;
  animation-delay: -60s;
}
.plane-9 {
  top: 331px;
}
.plane-9 i {
  height: 14px;
  width: 231px;
  animation-duration: 150s;
  animation-delay: -20s;
}
.plane-10 {
  top: 430px;
}
.plane-10 i {
  height: 12px;
  width: 197px;
  animation-duration: 160s;
}
@keyframes motion {
  0% {
    opacity: 1;
    transform: translateX(-101vw);
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(calc(0% + 100px));
  }
}

/* 動畫 */
/* 适应小屏幕 */
/* 添加以下样式到 SignTest.css */

/* 適應小屏幕 可以正常顯示註冊與登入頁面 不要出現滾動條 */

/* 改動後 只能顯示粉色畫面 無法看到或切換註冊頁面 該如何修正 */

@media (max-width: 768px) {
  .signcontainer {
    width: 75%;
    height: 75%;
    margin: auto;
    padding: 0;
  }
  .welcome {
    width: 75%;
    height: 75%;
    top: 0;
    left: 0;
    margin: auto;

    border-radius: 0;
  }
  .pinkbox {
    width: 75%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    /* box-shadow: none; */
  }
  .leftbox {
    width: 50%;
    height: 50%;
    top: 0;
    left: 0vw;
  }

  .rightbox {
    width: 50%;
    height: 50%;
    top: 0;
    left: 40vw;
  }
  .signh1 {
    margin-top: 50px;
    font-size: 1.5em;
  }
  .signtitle {
    margin-top: 10%;
    font-size: 1.5em;
  }
  .signaccount {
    margin-top: 30%;
  }
  .signbutton {
    margin-top: 10%;
  }
  .signinput {
    width: 80%;
  }
  .checkbox {
    left: -50px;
  }

  .signaccount {
    /* display: none; */
    margin-top: 15vh;
  }

  /* //調整為小視窗時 可以看見此按鈕 不要被覆蓋 */
  .signbutton2 {
    margin-top: 70%;
  }

  /* ///////////////////////////////// */

  /* //小視窗下點選註冊頁面的註冊按鈕後，註冊頁面消失，登入頁面出現 */

  /* ///////////////////////////////// */
}
