/* .nav{
    background-color: #9a2540;

} */

.logo-img {
  width: 180px;
  height: 70px;
  margin-right: 10px;
  /* background-color: rgba(240, 248, 255, 0.846); */
  cursor: pointer;
  /* border-radius: 30px; */
  /* box-shadow: 0 20px 50px -15px rgba(182, 50, 63, 0.7); */
}
.icon-img {
  width: 40px;
  height: 40px;
}

.headlogo {
  background-color: rgba(240, 248, 255, 0.846);
  border-radius: 5px;
  box-shadow: 0 20px 50px -15px rgba(182, 50, 63, 0.7);
}
