.handmade {
  box-shadow: 0 0 10px rgb(255, 255, 255);
  min-width: 30%;
  position: relative;
  bottom: -300px;
}

@media screen and (max-width: 768px) {
  .handmade {
    position: relative;
    bottom: -400px;
  }
}

.background {
  background-image: url('./images/背景1.png');
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: relative;
}

.background2 {
  /* background-image: url("./images/背景2.png"); */
  /* width: 100%;*/

  background-color: #feb7c9;
}

.background3 {
  /* background-image: url("./images/背景3.png"); */
  width: 100%;
  height: 100%;

  background-color: #ffffff41;
}

/* ----------------------------------------- */
.swiper {
  max-width: 50%;
  overflow: visible;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide::after {
  position: absolute;
  content: '';
  inset: 0;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #b8b8b88f, #ffffff5e);
}

.swiper-slide-active::after {
  background: none;
}

.swiper-slide > div {
  text-align: center;
  display: none;
  opacity: 0;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}

.swiper-slide h2 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
  position: relative;
  bottom: -20px;
  /* 新增*/
}

.swiper-slide h2::after {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  /* background: linear-gradient(#e66465, #9198e5); */
  background: linear-gradient(#e66465, #f19ecc);
}

@keyframes line {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.swiper-slide-active h2::after {
  animation: line 0.5s linear forwards;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 3px 17px rgb(0 0 0 / 25%);
  border-radius: 50%;
  aspect-ratio: 1/1;
}

@media (min-width: 768px) {
  .swiper-slide h2 {
    font-size: 2rem;
  }
}

/* --------------------------------------------------- */
/* 商品種類 */

@import url('https://fonts.googleapis.com/css?family=Raleway');

/* $defaultSeconds: 3s; */

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Raleway', sans-serif; */
}
.flex-container {
  position: absolute;
  left: 15%;
  height: 100vh;
  width: 70%;
  display: -webkit-flex; /* Safari */
  display: flex;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.flex-title {
  color: #f1f1f1;
  position: relative;
  font-size: 3vw;
  margin: auto;
  text-align: center;
  /* transform: rotate(90deg); */
  top: 15%;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  @media screen and (max-width: 768px) {
    transform: rotate(0deg) !important;
  }
}
.flex-about {
  opacity: 0;
  color: #f1f1f1;
  position: relative;
  width: 70%;
  font-size: 3vw;
  padding: 5%;
  top: 20%;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  line-height: 1.3;
  margin: auto;
  text-align: left;
  transform: rotate(0deg);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  @media screen and (max-width: 768px) {
    padding: 0%;
    border: 0px solid #f1f1f1;
  }
}

.flex-slide {
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  @media screen and (max-width: 768px) {
    overflow: auto;
    overflow-x: hidden;
  }
}
.flex-slide p {
  @media screen and (max-width: 768px) {
    font-size: 2em;
  }
}
.flex-slide ul li {
  @media screen and (max-width: 768px) {
    font-size: 2em;
  }
}
.flex-slide:hover {
  -webkit-flex-grow: 3;
  flex-grow: 3;
}
.home {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/專題2/procduct/月兔饅頭.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  @media screen and (min-width: 768px) {
    /* animation: aboutFlexSlide $defaultSeconds 1; */
    animation-delay: 0s;
  }
}
.home:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(123, 123, 123, 0.138)),
    url(./images/專題2/procduct/月兔饅頭.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@keyframes aboutFlexSlide {
  0% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  50% {
    -webkit-flex-grow: 3;
    flex-grow: 3;
  }
  100% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}

.flex-title-home {
  @media screen and (min-width: 768px) {
    /* transform: rotate(90deg); */
    top: 15%;
    /* animation: aboutFlexSlide $defaultSeconds 1;  */
    animation-delay: 0s;
  }

  /* home文字 */
}

@keyframes homeFlextitle {
  0% {
    transform: rotate(90deg);
    top: 15%;
  }
  50% {
    transform: rotate(0deg);
    top: 15%;
  }
  100% {
    transform: rotate(90deg);
    top: 15%;
  }
}

.flex-about-home {
  opacity: 0;
  @media screen and (min-width: 768px) {
    /* animation: aboutFlexSlide $defaultSeconds 1; */
    animation-delay: 0s;
  }
}

@keyframes flexAboutHome {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.about {
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/專題2/procduct/大福.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.about:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(123, 123, 123, 0.138)),
    url(./images/專題2/procduct/大福.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.contact-form {
  width: 100%;
}
input {
  width: 100%;
}
textarea {
  width: 100%;
}
.contact {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/專題2/procduct/羊羹.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.contact:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(123, 123, 123, 0.138)),
    url(./images/專題2/procduct/羊羹.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.work {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/專題2/procduct/水饅頭.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.work:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(123, 123, 123, 0.138)),
    url(./images/專題2/procduct/水饅頭.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.work2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/專題2/procduct/風味抹茶1入.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.work2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(123, 123, 123, 0.138)),
    url(./images/專題2/procduct/風味抹茶1入.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

Preloader .spinner {
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  height: 100%;
  width: 100%;
  z-index: 11;
  margin-top: 0;
  color: #fff;
  font-size: 1em;
}
.VerticalText {
  writing-mode: vertical-lr; /* 從上到下，從左到右 */
}

@media (max-width: 768px) {
  .VerticalText {
    writing-mode: horizontal-tb;
  }
}

.aaa {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .aaa {
    display: block;
    align-items: initial;
  }
}
